#div3{
    
    height: auto;
    width: 90%;
    background-color: rgb(0, 0, 0);
    margin-top:10% ;
    
    
}

#div1{
    width: 400px;
    height: 200px;
    border: 10px solid blue;
    border-radius: 50%;
    float: left;
    margin-top:  10%;
   
}

#div2{
    width: 400px;
    height: 200px;
    border: 10px solid blue;
    border-top-left-radius: 4%;
    border-bottom-right-radius: 6%;
    border-bottom-left-radius: 8%;
    float: right ;
    margin-top:  10%;
    
}